# Calculating the Standard Deviation

Perform the following actions by using the code that follows:

1. Create a daily_returns DataFrame by using the pct_change and dropna functions.
2. Use the Pandas mean function to find the average daily return of each stock in the daily_returns DataFrame.
3. Use the Pandas std and sort_values functions to determine the stocks with the smallest and largest standard deviations.

In [1]:
# Import the pandas library
import pandas as pd

# Create the stocks DataFrame
stocks = pd.DataFrame({
    'stock_abc' : [17.89, 16.43, 16.25, 15.74, 15.36, 18.29, 18.00, 18.15, 18.30, 18.50],
    'stock_def' : [124.37, 125.21, 125.75, 126.51, 127.25, 127.00, 127.10, 126.89, 126.99, 127.75],
    'stock_efg' : [5.45, 5.50, 5.75, 5.10, 4.90, 4.75, 4.70, 4.80, 4.29, 4.33]
})

# View the first five rows of the stocks DataFrame
stocks.head()

   stock_abc  stock_def  stock_efg
0      17.89     124.37       5.45
1      16.43     125.21       5.50
2      16.25     125.75       5.75
3      15.74     126.51       5.10
4      15.36     127.25       4.90

In [2]:
# Create a daily_returns DataFrame by using the pct_change and dropna functions.
daily_returns = stocks.pct_change().dropna()

# View the first five rows of the daily_returns DataFrame
daily_returns.head()

   stock_abc  stock_def  stock_efg
1  -0.081610   0.006754   0.009174
2  -0.010956   0.004313   0.045455
3  -0.031385   0.006044  -0.113043
4  -0.024142   0.005849  -0.039216
5   0.190755  -0.001965  -0.030612

In [4]:
# Use the Pandas mean function to find the average daily return of each stock in the daily_returns DataFrame.
daily_returns_mean = daily_returns.mean()
daily_returns_mean

stock_abc    0.006037
stock_def    0.002989
stock_efg   -0.023824
dtype: float64

In [5]:
# Use the Pandas std and sort_values functions to determine the stocks with the smallest and largest standard deviations.

# Calculate the standard deviation for each of the stocks
daily_returns_std_deviation = daily_returns.std()

# Display results
daily_returns_std_deviation

stock_abc    0.074930
stock_def    0.003503
stock_efg    0.055040
dtype: float64

In [6]:
# Sort the standard deviation
daily_returns_std_deviation_sorted = daily_returns_std_deviation.sort_values()

# Display results
daily_returns_std_deviation_sorted

stock_def    0.003503
stock_efg    0.055040
stock_abc    0.074930
dtype: float64