# Measuring Risk

Using the following code snippet, calculate the mean (average) of all the elements using the Pandas sum and count functions.

In [11]:
# Import the pandas library
import pandas as pd

# Create the stock_abc DataFrame
stock_abc = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})

# View the stock_abc DataFrame
stock_abc

   close
0  11.25
1  11.98
2  10.74
3  11.16
4  12.35
5  12.87
6  13.03
7  13.14
8  13.37
9  12.99

In [12]:
# Calculate the mean of the stock_abc DataFrame
stock_abc_mean = stock_abc['close'].sum() / stock_abc['close'].count()
stock_abc_mean

12.288

Using the following code snippet, calculate the mean (average) of all the elements using the Pandas mean function.

In [13]:
# Create the stock_def DataFrame
stock_def = pd.DataFrame({'close' : [14.25, 15.98, 11.74, 13.16, 12.35, 14.87, 15.03, 16.14, 13.37, 12.99]})

# View the stock_def DataFrame
stock_def

   close
0  14.25
1  15.98
2  11.74
3  13.16
4  12.35
5  14.87
6  15.03
7  16.14
8  13.37
9  12.99

In [14]:
# Calculate the mean of the stock_def DataFrame
stock_def_mean = stock_def['close'].mean()
stock_def_mean

13.988